<a href="/upload/file">Upload File</a>

<ul>
    <% data.forEach(d => { %>
      <li>
        <p><%= d.upload.name %></p>
        <img src="<%= d.upload.path %>" alt="<%= d.upload.name %>">
        <form action="/file/delete" method="POST">
            <input type="hidden" name="uploadId" value="<%= d.upload.id %>"> <!-- Ganti dengan ID yang sesuai -->
            <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
</ul>